
//styles buttons
.button {
  color: $white;
  border-radius: 5px;
  padding: 1em;
  background-color: #ffb84d;
  &--quote {
    box-shadow: -1px 1px 5px $light-grey;
    font-size: 10px;
  }
  &--learn {
    background-color: #ffb84d;
    color: $white;
    padding: 1em 4em;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px $light-grey;
    font-weight: $font-weight--bold;
  }
  &--card {
    background-color: $black;
    color: $white;
    padding: 1em 25%;
    font-size: 12px;
    @include mq(medium) {//floats button to the  left when 750px or larger
      width: 10em;
      padding: 1em;
      float: left;
    }
  }
}
