//
// .header-image {
//   width: 1400px;
//   max-width: 100%;
//   display: block;
//   @extend %center;
// }

//sets width of target icon
#target {
  @extend %center;
  display: block;
  width: 50px;
  max-width: 100%;
}

//tarets the images list
.image-list {
  margin-top: 4em;
  margin-bottom: 2em;
  @extend %center;
  @include flexy(flex, row, null, space-around);//sets display to evenly spaced flexbox
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  & img {
    width: 175px;
    height: 175px;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px $light-grey;
    margin-top: 1em;
    @include mq(small){ //changes width when 550px or larger
      width: 200px;
      height: 200px;
    }

 }
}

.card {
  & img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px;
    position: relative; // Sets the icon position at a relative to the card 
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
  }
}
