header {
  @include flexy(flex, column);
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  @include mq(medium) {
    @include flexy(flex, row);
  }
}

.title-content {
  font-size: 12px;
  @include flexy(flex, column);
  @extend %center;
  @include mq(medium) {
    @include flexy(flex,row);
    margin-left: 1em;
    margin-right: auto;
  }
  &--footer {
    @include flexy(flex, row, null);
    align-items: center;
    margin: 0;
}

}

.banner {
  text-align: center;
  max-width: 100%;
  width: 1500px;
  height: 10em;
  background-image: url('../images/header.jpg');
  background-size: cover;
  color: $white;
  margin-bottom: 3em;
  @include flexy(flex, column, null, center);
  @include mq(medium) {
    height: 20em;
  }
  & h1 {
    width: 100%;
    @extend %center;
    transform: scale(.5);
    @include mq(medium) {
      transform: scale(1);
      width: 40%;
    }
  }
}

main {
  text-align: center;
}

.mission {
  width: 90%;
  @extend %center;
  @include mq(medium) {
    width: 35%;
  }
  & p {
    line-height: 30px;
    margin-bottom: 2em;
  }
}

.home-cards {
  height: 45em;
  width: 100%;
  background: linear-gradient(to right, #ffcc00, #e67300);
  @include flexy(flex, row);
  align-items: center;
  @include mq(medium) {
    height: 30em;
  }
}

.card-list {
  @include flexy(flex, column, null, center);
  align-items: center;
  height: 20em;
  width: 90%;
  max-width: 900px;
  @extend %center;
  @include mq(medium) {
    @include flexy(flex, row);
  }
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: $white;
  margin: 1em;
  padding: 2em;
  display: block;

  @extend %center;
  @include mq(medium) {
    @include flexy(flex, column);
  }

  & h2,
  & p {
    text-align: left;
  }
  & p {
    font-weight: $font-weight--thin;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 3em;
    line-height: 25px;
    @include mq(medium){
      margin-bottom: auto;
    }

  }

}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $white;
  @extend %center;
  transform: translateY(100%);
}

footer {
  background-color: darken(#333333, 10%);
  width: 100%;
  height: 7em;
  @include flexy(flex,row, null, space-around);
  & p {
    align-self: center;
    line-height: 12px;
  }


}
