//imports google fonts
@import url($font-url-google + "Source+Sans+Pro");

* { //sets universal font set
  font-family: sans-serif;
}

nav ul li a {
  color: $inactive-grey; //inactive color of nav item when not on that page
  font-size: 12px;
}

.title-text {
  &--black {
    font-weight: $font-weight--bold;
    margin-left: 1em;
  }
  &--white {
    font-weight: $font-weight--bold;
    margin-left: 1em;
    text-align: left;
  }
}

p {
  font-size: 16px; //sets all p element font to defualt 16px
}

.card {
  & p {
    font-weight: $font-weight--thin;
  }
}

footer {
  color: $white;
  & p {
    font-size: 10px;
    text-align: center;
    @include mq(small){
      font-size: 12px; //changes font size when screen is @550px or larger
      text-align: left;
    }
  }
}
