
* {
  font-family: $source-sans-pro;
}

nav ul li a {
  color: $inactive-grey;
  font-size: 10px;
}

.title-text {
  &--black {
    font-weight: $font-weight--bold;
    margin-left: 1em;
  }
  &--white {
    font-weight: $font-weight--bold;
    margin-left: 1em;

  }

}

footer {
  color: $white;
  & p {
    font-size: 8px;
    align-self: center;
    line-height: 12px;
    @include mq(medium) {
      margin-right: 15em;
    }
  }
}
